---
layout: page
title: "Paket Training"
date: 2013-07-18 13:17
comments: true
sharing: true
footer: true
---

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#artivisiBootcamp">
                    ArtiVisi Bootcamp
                </a>
            </h4>
    	</div>
   		<div id="artivisiBootcamp" class="panel-collapse collapse">
       		<div class="panel-body">
            	{% include content/paket_training/artivisi_bootcamp.html %}
        	</div>
    	</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#javaDesktopBasic">
                    Java Desktop Basic
                </a>
            </h4>
    	</div>
   		<div id="javaDesktopBasic" class="panel-collapse collapse">
       		<div class="panel-body">
            	{% include content/paket_training/java_desktop_basic.html %}
        	</div>
    	</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#javaEE">
                    Java EE
                </a>
            </h4>
    	</div>
   		<div id="javaEE" class="panel-collapse collapse">
       		<div class="panel-body">
            	{% include content/paket_training/java_ee.html %}
        	</div>
    	</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#javaWebBasic">
                    Java Web Basic
                </a>
            </h4>
    	</div>
   		<div id="javaWebBasic" class="panel-collapse collapse">
       		<div class="panel-body">
            	{% include content/paket_training/java_web_basic.html %}
        	</div>
    	</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#javaWebBasicWithoutFundamental">
                    Java Web Basic without Fundamental
                </a>
            </h4>
    	</div>
   		<div id="javaWebBasicWithoutFundamental" class="panel-collapse collapse">
       		<div class="panel-body">
            	{% include content/paket_training/java_web_basic_without_fundamental.html %}
        	</div>
    	</div>
    </div>
</div>