/**
 * HTML 5 standard elements
 */
img {
  width: 100%;
  margin-bottom: 10px;
}
body {
  background: #EEE;
  margin: 0;
}
p {
  text-align: justify;
}
h1, h2, h3, h4, h5, h6 {
  color: #2e3192;
}

a {
    color: #2E3192;
}

#main-footer h4 {
    color: #FFF;
}

/* custom heading inside panel foundation */
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
  color: #2e3192;
}

