<div class="large-4 columns">
          <h4>artikel terbaru</h4>
          <p>Lorem ipsum Aliqua amet sit officia occaecat sed occaecat quis quis officia ut nulla cillum dolore est sed in Excepteur consequat quis voluptate exercitation.</p>
          <p>Lorem ipsum Incididunt dolor ut quis qui non minim id cillum id sint velit aliquip Duis dolore.</p>
        </div>
        <div class="large-4 columns">
          <h4>download</h4>
          <ul>
            <li>Minibook Log4J</li>
            <li>Template User Story</li>
            <li>Template Change Request Form</li>
            <li>Aplikasi Belajar RESTful</li>
            <li>Aplikasi Biller Simulator</li>
            <li><a href="#">Other open source community</a></li>
          </ul>
        </div>
        <div class="large-4 columns">
          <h4>Open Source</h4>
          <ul>
            <li>Biller Simulator</li>
            <li>playSMS</li>
            <li>Contoh Akses Database dengan Java</li>
            <li>Contoh Spring Integration</li>
            <li><a href="#">Other open source community</a></li>
          </ul>
        </div>
