<a href="{{ root_url }}/"><img src="{{ root_url }}/images/artivisi.png"></a>
      <p>Software Development Company <br>based in Jakarta Indonesia</p>
      <p>Core competence: <br>
        Java, Spring Framework, Hibernate,
        MySQL, Tomcat, and other open source technologies
      </p>
      <p>Core Business : <br>Software Development, Consulting, and Training</p>
      <h4>Contact</h4>
      <ul class="socialicon">
        <li><i class="icon-phone-sign"></i>&nbsp;+62 21 86611859</li>
        <li><i class="icon-envelope-alt"></i>&nbsp;<a href="mailto:info@artivisi.com">info@artivisi.com</a></li>
        <li><i class="icon-twitter"></i>&nbsp;<a href="https://twitter.com/artivisi">@artivisi</a></li>
        <li><i class="icon-facebook"></i>&nbsp;&nbsp;<a href="http://fb.me/artivisi.intermedia">fb.me/artivisi.intermedia</a></li>
        <li><i class="icon-github"></i>&nbsp;<a href="http://github.com/artivisi">github.com/artivisi</a></li>
      </ul>
      <h4>News</h4>
      <p>Lorem ipsum Ut elit minim esse Excepteur irure in mollit in aliquip elit do irure incididunt exercitation dolore culpa dolore dolore aliqua incididunt.</p>
      <p class="copyright">&copy; 2013 Artivisi Intermedia</p>
