<div class="large-4 columns">
          <h4>Artikel Terbaru</h4>
          <p>Segera menyusul</p>
        </div>
        <div class="large-4 columns">
          <h4>Download</h4>
          <ul>
            <li><a href="http://endy.muhardin.googlepages.com/minibook-log4j.pdf">Minibook Log4J</a></li>
            <li><a href="http://software.endy.muhardin.com/downloads/user-story.odt">Template User Story</a></li>
            <li><a href="http://software.endy.muhardin.com/downloads/change-request.odt">Template Change Request Form</a></li>
            <li><a href="http://software.endy.muhardin.com/downloads/change-request.odt">Aplikasi Belajar RESTful</a></li>
          </ul>
        </div>
        <div class="large-4 columns">
          <h4>Open Source</h4>
          <ul>
            <li><a href="https://github.com/artivisi/biller-simulator">Biller Simulator</a></li>
            <li><a href="http://www.playsms.org/">playSMS</a></li>
            <li><a href="https://github.com/artivisi/iso8583-processor">ISO-8583 Processor</a></li>
            <li><a href="https://github.com/artivisi/standard-webapp-archetype">Template Aplikasi Web Java</a></li>
          </ul>
        </div>
