        <div class="small-7 large-9 columns">
          <!-- main header kanan tempat navigasi utama -->
          <div class="main-header-kiri">
            <ul class="navigasi">
              <li><a href="{{ root_url }}/content/about/">About Us</a></li>
            </ul>
          </div><!-- Akhir dari header kiri -->
        </div>
        <div class="small-5 large-3 columns">
          <!-- main header kanan tempat form search -->
          <div class="main-header-kanan">
            <form id="cari" action="#">
              <div class="row collapse">
                <div class="small-3 large-2 columns">
                  <span class="prefix"><i class="icon-search"></i></span>
                </div>
                <div class="small-9 large-10 columns">
                  <input type="text" placeholder="search here">
                </div>
              </div>
            </form>
          </div><!-- Akhir dari header kanan -->
        </div>
