        <div class="large-4 columns">
          <div class="panel equalheight rounded">
            <img class="frame" src="{{ root_url }}/images/box.png" alt="box">
            <h4>SMS Banking</h4>
            <p>Sediakan interaksi melalui sms untuk nasabah Anda. Dengan sms banking, nasabah dapat melakukan:</p>
            <ul>
              <li>cek saldo</li>
              <li>melihat rekaman transaksi</li>
              <li>transfer dana antar rekening</li>
              <li>dan kegiatan lain yang dibutuhkan (custom action)</li>
            </ul>
          </div>  
        </div>
        <div class="large-8 columns">
          <div class="row">
            <div class="large-6 columns">
              <div class="panel rounded">
                <h4>Produk</h4>
                <ul>
                  <li>Payment Gateway</li>
                  <li>Billing System</li>
                  <li>Call Center</li>
                  <li>Video Conference</li>
                </ul>
              </div>
            </div>
            <div class="large-6 columns">
              <div class="panel rounded" style="min-height:163px">
                <h4>Layanan</h4>
                <ul>
                  <li>Inhouse Training</li>
                  <li>Consulting</li>
                  <li>Team Building</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns">
              <div class="panel rounded">
                <h4>Karir</h4>
                <ul>
                  <li><a href="{{ root_url }}/content/karir/magang/">Magang</a></li>
                  <li>Rekruitmen</li>
                </ul>
              </div>
            </div>
            <div class="large-6 columns">
              <div class="panel rounded">
                <h4>Sinergi</h4>
                <ul>
                  <li><a href="{{ root_url }}/content/sinergi/client/">Client</a></li>
                  <li>Mitra</li>
                </ul>
              </div>
            </div>
            <div class="row">
			  <div class="large-6 columns">
				<div class="panel rounded" style="min-height:163px">
				 <h4>Materi</h4>
                 <ul>
                   <li><a href="{{ root_url }}/content/silabus/">Silabus</a></li>
                   <li><a href="{{ root_url }}/content/training/">Paket Training</a></li>
                 </ul>
			   </div>
			 </div>
			 <div class="large-6 columns">
              <div class="panel rounded">
                <h4>Portofolio</h4>
                <ul>
                  <li><a href="{{ root_url }}/content/portofolio/development/">Development</a></li>
                  <li><a href="{{ root_url }}/content/portofolio/inhousetraining/">Inhouse Training</a></li>
                  <li><a href="{{ root_url }}/content/portofolio/itconsultant/">IT Consulting</a></li>
                  <li><a href="{{ root_url }}/content/portofolio/outsourcing/">Outsourcing</a></li>
                </ul>
              </div>
            </div>
			</div>
          </div>
        </div>
      
