<div class="large-4 columns">
          <h4>Artikel Terbaru</h4>
          <p>Segera menyusul</p>
        </div>
        <div class="large-4 columns">
          <h4>Download</h4>
          <ul>
            <li>[Minibook Log4J](http://endy.muhardin.googlepages.com/minibook-log4j.pdf)</li>
            <li>[Template User Story](http://software.endy.muhardin.com/downloads/user-story.odt)</li>
            <li>[Template Change Request Form](http://software.endy.muhardin.com/downloads/change-request.odt)</li>
            <li>[Aplikasi Belajar RESTful](https://github.com/endymuhardin/belajar-restful)</li>
          </ul>
        </div>
        <div class="large-4 columns">
          <h4>Open Source</h4>
          <ul>
            <li>[Biller Simulator](https://github.com/artivisi/biller-simulator)</li>
            <li>[playSMS](http://www.playsms.org/)</li>
            <li>[ISO-8583 Processor](https://github.com/artivisi/iso8583-processor)</li>
            <li>[Template Aplikasi Web Java](https://github.com/artivisi/standard-webapp-archetype)</li>
          </ul>
        </div>
