<a href="{{ root_url }}/"><img src="{{ root_url }}/images/artivisi.png"></a>
      <p>Software Development Company <br>based in Jakarta Indonesia</p>
      <h6>Core competence</h6>
      <p>
        Java, Spring Framework, Hibernate,
        MySQL, Tomcat, and other open source technologies
      </p>
      <h6>Core Business</h6>
      <p>Software Development, Consulting, and Training</p>
      <h6>Contact</h6>
      <ul class="socialicon">
        <li><i class="icon-map-marker"></i>&nbsp;&nbsp;<a href="http://goo.gl/maps/np9gj">-6.24937, 106.90729</a></li>
        <li><i class="icon-phone-sign"></i>&nbsp;+62 21 86611859</li>
        <li><i class="icon-envelope-alt"></i>&nbsp;<a href="mailto:info@artivisi.com">info@artivisi.com</a></li>
        <li><i class="icon-comments"></i>&nbsp;<a href="ymsgr:sendim?artivisi1">artivisi1</a></li>
        <li><i class="icon-comments"></i></img>&nbsp;<a href="ymsgr:sendim?artivisi2">artivisi2</a></li>
        <li><i class="icon-twitter"></i>&nbsp;<a href="https://twitter.com/artivisi">@artivisi</a></li>
        <li><i class="icon-facebook"></i>&nbsp;&nbsp;<a href="http://fb.me/artivisi.intermedia">fb.me/artivisi.intermedia</a></li>
        <li><i class="icon-github"></i>&nbsp;<a href="http://github.com/artivisi">github.com/artivisi</a></li>
      </ul>
      <p class="copyright">&copy; 2013 Artivisi Intermedia</p>
