<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Hari Ke 1</h5>
    </div>
    <ul class="widget-list">
        <li>Redmine</li>
        <li>Subversion</li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Hari Ke 2</h5>
    </div>
    <ul class="widget-list">
        <li>Subversion</li>
        <li>Maven</li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Hari Ke 3</h5>
    </div>
    <ul class="widget-list">
        <li>Java Fundamental</li>
        <li>Database Fundamental</li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Hari Ke 4</h5>
    </div>
    <ul class="widget-list">
        <li>Database Fundamental</li>
        <li>jUnit</li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Hari Ke 5</h5>
    </div>
    <ul class="widget-list">
        <li>Spring Framework</li>
        <li>Hibernate</li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Hari Ke 6</h5>
    </div>
    <ul class="widget-list">
        <li>Hibernate</li>
        <li>Swing</li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Hari Ke 7</h5>
    </div>
    <ul class="widget-list">
        <li>Swing</li>
        <li>Jasper Report</li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Hari Ke 8</h5>
    </div>
    <ul class="widget-list">
        <li>Jasper Report</li>
        <li>Spring MVC</li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Hari Ke 9</h5>
    </div>
    <ul class="widget-list">
        <li>Spring MVC</li>
        <li>Spring &amp; Security</li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Hari Ke 10</h5>
    </div>
    <ul class="widget-list">
        <li>jQuery</li>
        <li>Review</li>
    </ul>
</div>