<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Hari Ke 1</h5>
    </div>
    <ul class="widget-list">
        <li>JSI101 Spring Framework
            <ul class="widget-list" style="border:0">
                <li>Intro</li>
                <li>Konsep IoC</li>
                <li>PropertyEditors</li>
                <li>Placeholder Configurer</li>
                <li>Autowiring</li>
            </ul>
        </li>
        <li>JHB101 Java Persistence with Hibernate
            <ul class="widget-list" style="border:0">
                <li>ORM Fundamental</li>
                <li>Object-Relational Impedance Mismatch</li>
                <li>Simple Mapping</li>
                <li>Hibernate Configuration &amp; SessionFactory</li>
                <li>Saving &amp; Retrieving Object</li>
            </ul>
        </li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Hari Ke 2</h5>
    </div>
    <ul class="widget-list">
        <li>JHB102 Java Persistence with Hibernate
            <ul class="widget-list" style="border:0">
                <li>Relationship Mapping</li>
                <li>One to One</li>
                <li>One to Many</li>
                <li>Many to Many</li>
                <li>Parent-Child</li>
                <li>Collection of Components (Value Object)</li>
            </ul>
        </li>
        <li>MVC01 Spring MVC
            <ul class="widget-list" style="border:0">
                <li>Create Project</li>
                <li>Membuat Controller</li>
                <li>Membuat Template</li>
                <li>Membuat Dispatcher</li>
                <li>Deploy</li>
                <li>Membuat tabel HTML</li>
                <li>Membuat Controller untuk display list</li>
                <li>Membuat View by id</li>
                <li>Membuat HTML Forum</li>
                <li>Membuat Controller</li>
                <li>Implement Save</li>
            </ul>
        </li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Hari Ke 3</h5>
    </div>
    <ul class="widget-list">
        <li>MVC02 Spring MVC
            <ul class="widget-list" style="border:0">
                <li>Validator</li>
                <li>Converter</li>
                <li>Binding Relasi</li>
                <li>Upload File</li>
                <li>Resize image</li>
                <li>PDF File</li>
                <li>Json View</li>
                <li>Download file</li>
            </ul>
        </li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Hari Ke 4</h5>
    </div>
    <ul class="widget-list">
        <li>JJR101 Jasper Report
            <ul class="widget-list" style="border:0">
                <li>JasperReport Fundamental</li>
                <li>Pengenalan iReport</li>
                <li>Konfigurasi Database Connection</li>
                <li>Report Elements</li>
                <li>Desain Report</li>
                <li>Image</li>
                <li>Font</li>
                <li>Background</li>
                <li>Report Query</li>
                <li>Preview Report</li>
            </ul>
        </li>
    </ul>
</div>