<!-- /#footer-2 -->
            <footer id="footer-2" class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 footer-info-wrapper">
                            <center>
                                <span>&copy; 2013 Artivisi Intermedia</span>
                            </center>        
                        </div>
                        <!-- /.footer-links-wrapper -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </footer>
