<!-- /#utter-wrapper -->
        <!-- Bootstrap JS & Others JavaScript Plugins
            ================================================== -->
        <!-- Placed At The End Of The Document So Page Loads Faster -->
        <script src="{{ root_url }}/assets/js/jquery-2.0.3.min.js"></script>
        <script src="{{ root_url }}/assets/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="{{ root_url }}/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="{{ root_url }}/assets/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="{{ root_url }}/assets/carouFredSel-6.2.1/jquery.carouFredSel-6.2.1.js"></script>
        <script src="{{ root_url }}/assets/prettyPhoto/js/jquery.prettyPhoto.js"></script>
        <script src="{{ root_url }}/assets/jflickrfeed/jflickrfeed.min.js"></script>
        <script src="{{ root_url }}/assets/UItoTop/js/easing.js"></script>
        <script src="{{ root_url }}/assets/UItoTop/js/jquery.ui.totop.min.js"></script>
        <script src="{{ root_url }}/assets/isotope-site/jquery.isotope.min.js"></script>
        <script src="{{ root_url }}/assets/FitVids.js/jquery.fitvids.js"></script>
        

        {% if page.title == null %}
        <script type="text/javascript">
            var tpj = jQuery;
            tpj.noConflict();
            tpj(document).ready(function () {
                // Revolution Slider
                if (tpj.fn.cssOriginal != undefined)
                    tpj.fn.css = tpj.fn.cssOriginal;
                tpj('.fullwidthbanner').revolution({
                    delay: 9000,
                    startwidth: 1200,
                    startheight: 400,
            
                    onHoverStop: "on",
            
                    thumbWidth: 100,
                    thumbHeight: 50,
                    thumbAmount: 3,
            
                    hideThumbs: 0,
            
                    navigationType: "none",
                    navigationArrows: "solo",
                    navigationStyle: "round",
                    navigationHAlign: "left",
                    navigationVAlign: "bottom",
                    navigationHOffset: 30,
                    navigationVOffset: 30,
            
                    soloArrowLeftHalign: "left",
                    soloArrowLeftValign: "center",
                    soloArrowLeftHOffset: 0,
                    soloArrowLeftVOffset: 0,
            
                    soloArrowRightHalign: "right",
                    soloArrowRightValign: "center",
                    soloArrowRightHOffset: 0,
                    soloArrowRightVOffset: 0,
            
                    stopAtSlide: -1,
                    stopAfterLoops: -1,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    hideSliderAtLimit: 0,
            
                    fullWidth: "on",
                    fullScreen: "off",
                    fullScreenOffsetContainer: "#topheader-to-offset",
            
                    shadow: 0
                });
                // PrettyPhoto
                tpj("a[rel^='prettyPhoto']").prettyPhoto({
                    theme: 'light_square',
                    social_tools: false
                });
                // FitVids
                tpj(".responsive-video-wrapper").fitVids();
                // jflickrfeed
                tpj('.flickr-photos-list').jflickrfeed({
                    limit: 9,
                    qstrings: {
                        id: '71865026@N00'
                    },
                    itemTemplate: '<li><a href="{{image_b}}"><img src="{{image_s}}" alt="{{title}}" /></a></li>'
                });
                // jQuery UItoTop
                tpj().UItoTop({ easingType: 'easeOutQuart' });
            });
            // jQuery CarouFredSel
            var caroufredsel = function () {
                tpj('#caroufredsel-portfolio-container').carouFredSel({
                    responsive: true,
                    scroll: 1,
                    circular: false,
                    infinite: false,
                    items: {
                        visible: {
                            min: 1,
                            max: 3
                        }
                    },
                    prev: '#portfolio-prev',
                    next: '#portfolio-next',
                    auto: {
                        play: false
                    }
                });
                tpj('#caroufredsel-blog-posts-container').carouFredSel({
                    responsive: true,
                    scroll: 1,
                    circular: false,
                    infinite: false,
                    items: {
                        visible: {
                            min: 1,
                            max: 3
                        }
                    },
                    prev: '#blog-posts-prev',
                    next: '#blog-posts-next',
                    auto: {
                        play: false
                    }
                });
                tpj('#caroufredsel-clients-container').carouFredSel({
                    responsive: true,
                    scroll: 1,
                    circular: false,
                    infinite: false,
                    items: {
                        visible: {
                            min: 1,
                            max: 4
                        }
                    },
                    prev: '#client-prev',
                    next: '#client-next',
                    auto: {
                        play: false
                    }
                });
            };
            tpj(window).load(function () {
                caroufredsel();
            });
            tpj(window).resize(function () {
                caroufredsel();
            });            
        </script>
        {% elsif page.include_opensource == true %}
        <script type="text/javascript">
            var tpj = jQuery;
            tpj.noConflict();
            
            // jQuery CarouFredSel
            var caroufredsel = function () {
                tpj('#caroufredsel-portfolio-container').carouFredSel({
                    responsive: true,
                    scroll: 1,
                    circular: false,
                    infinite: false,
                    items: {
                        visible: {
                            min: 1,
                            max: 3
                        }
                    },
                    prev: '#portfolio-prev',
                    next: '#portfolio-next',
                    auto: {
                        play: false
                    }
                });
                tpj('#caroufredsel-blog-posts-container').carouFredSel({
                    responsive: true,
                    scroll: 1,
                    circular: false,
                    infinite: false,
                    items: {
                        visible: {
                            min: 1,
                            max: 3
                        }
                    },
                    prev: '#blog-posts-prev',
                    next: '#blog-posts-next',
                    auto: {
                        play: false
                    }
                });
                tpj('#caroufredsel-clients-container').carouFredSel({
                    responsive: true,
                    scroll: 1,
                    circular: false,
                    infinite: false,
                    items: {
                        visible: {
                            min: 1,
                            max: 4
                        }
                    },
                    prev: '#client-prev',
                    next: '#client-next',
                    auto: {
                        play: false
                    }
                });
            };
            tpj(window).load(function () {
                caroufredsel();
            });
            tpj(window).resize(function () {
                caroufredsel();
            });            
        </script>
        {% endif %}

        {% if page.filter_portofolio == true %}
        <script type="text/javascript">
            $(document).ready(function () {
                // PrettyPhoto
                $("a[rel^='prettyPhoto']").prettyPhoto({
                    theme: 'light_square',
                    social_tools: false
                });
            });
            // Isotope Portfolio
            var $container = $('#isotope-portfolio-container');
            var $filter = $('.portfolio-filter');
            $(window).load(function () {
                // Initialize Isotope
                $container.isotope({
                    itemSelector: '.portfolio-item-wrapper'
                });
                $('.portfolio-filter a').click(function () {
                    var selector = $(this).attr('data-filter');
                    $container.isotope({ filter: selector });
                    return false;
                });
                $filter.find('a').click(function () {
                    var selector = $(this).attr('data-filter');
                    $filter.find('a').parent().removeClass('active');
                    $(this).parent().addClass('active');
                });
            });
            $(window).smartresize(function () {
                $container.isotope('reLayout');
            });            
        </script>
        <!-- Custom Script For This Template -->
        <script src="{{ root_url }}/assets/js/script.js"></script>
        {% endif %}
