 <!-- #our-services -->
                <section id="main-services" class="pad-top-25">
                    <div class="container">
                        <div class="subpage-title">
                            <h5>Main Services</h5>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="service">
                                    <div class="service-details">
                                        <div class="subpage-title">
                                            <h5>Produk</h5>
                                        </div>
                                        <ul class="widget-list">
                                            <li>Payment Gateway</li>
                                            <li>Billing System</li>
                                            <li>Call Center</li>
                                            <li>Video Conference</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-xs-12 col-sm-4">
                                <div class="service">
                                    <div class="service-details">
                                        <div class="subpage-title">
                                            <h5>Layanan</h5>
                                        </div>
                                        <ul class="widget-list">
                                            <li>Inhouse Training</li>
                                            <li>Consulting</li>
                                            <li>Team Building</li>
                                            <br>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-xs-12 col-sm-4">
                                <div class="service">
                                    <div class="service-details">
                                        <div class="subpage-title">
                                            <h5>Portofolio</h5>
                                        </div>
                                        <ul class="widget-list">
											<li><a href="{{ root_url }}/content/portofolio/development/">Development</a></li>
											<li><a href="{{ root_url }}/content/portofolio/inhousetraining/">Inhouse Training</a></li>
											<li><a href="{{ root_url }}/content/portofolio/itconsultant/">IT Consulting</a></li>
											<li><a href="{{ root_url }}/content/portofolio/outsourcing/">Outsourcing</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-xs-12 col-sm-4">
                                <div class="service">
                                    <div class="service-details">
                                        <div class="subpage-title">
                                            <h5>Karir</h5>
                                        </div>
                                        <ul class="widget-list">
                                            <li><a href="{{ root_url }}/content/karir/magang/">Magang</a></li>
                                            <li>Rekruitmen</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-xs-12 col-sm-4">
                                <div class="service">
                                    <div class="service-details">
                                        <div class="subpage-title">
                                            <h5>Sinergi</h5>
                                        </div>
                                        <ul class="widget-list">
                                            <li><a href="{{ root_url }}/content/sinergi/client/">Client</a></li>
                                            <li>Mitra</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-xs-12 col-sm-4">
                                <div class="service">
                                    <div class="service-details">
                                        <div class="subpage-title">
                                            <h5>Materi</h5>
                                        </div>
                                        <ul class="widget-list">
                                            <li><a href="{{ root_url }}/content/silabus/">Silabus</a></li>
											<li><a href="{{ root_url }}/content/training/">Paket Training</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-sm-4 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </section>
                <!-- /#main-services -->
