 <!-- /#our-services -->
                <section id="recent-works" class="pad-0">
                    <div class="container">
                        <div class="subpage-title">
                            <h5>Open Source Project</h5>
                            <!-- Controls -->
                            <div class="controls">
                                <span id="portfolio-prev" class="prev black"><i class="fa fa-angle-left"></i></span>
                                <span id="portfolio-next" class="next black"><i class="fa fa-angle-right"></i></span>
                            </div>
                        </div>
                        <div class="row flush">
                            <div id="caroufredsel-portfolio-container">
                                <div class="col-xs-12 col-sm-6 col-md-4 portfolio-item-wrapper">
                                    <div class="portfolio-item">
                                        <div class="portfolio-thumb">
											<center>
												<span class="open-source">
													<i class="fa fa-archive"></i>
												</span>
                                            </center>
                                        </div>
                                        <div class="portfolio-details">
                                            <a href="#">
												<h5>Biller Simulator</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.portfolio-item-wrapper -->
                                <div class="col-xs-12 col-sm-6 col-md-4 portfolio-item-wrapper">
                                    <div class="portfolio-item">
                                        <div class="portfolio-thumb">
											<center>
												<span class="open-source">
													<i class="fa fa-archive"></i>
												</span>
                                            </center>
                                        </div>
                                        <div class="portfolio-details">
                                            <a href="#">
												<h5>playSMS</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.portfolio-item-wrapper -->
                                <div class="col-xs-12 col-sm-6 col-md-4 portfolio-item-wrapper">
                                    <div class="portfolio-item">
                                        <div class="portfolio-thumb">
                                            <center>
												<span class="open-source">
													<i class="fa fa-archive"></i>
												</span>
                                            </center>
                                        </div>
                                        <div class="portfolio-details">
                                            <a href="#">
												<h5>ISO-8583 Processor</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.portfolio-item-wrapper -->
                                <div class="col-xs-12 col-sm-6 col-md-4 portfolio-item-wrapper">
                                    <div class="portfolio-item">
                                        <div class="portfolio-thumb">
                                            <center>
												<span class="open-source">
													<i class="fa fa-archive"></i>
												</span>
                                            </center>
                                        </div>
                                        <div class="portfolio-details">
											<a href="#">
												<h5>Template Aplikasi Web Java</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.caroufredsel-portfolio-container -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </section>
                <!-- /#recent-works -->
