<section id="our-services" class="pad-top-50">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="service">
                                    <span class="service-icon">
                                    <i class="fa fa-laptop"></i>
                                    </span>
                                    <div class="service-details">
                                        <h4>Product</h4>
                                        <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-sm-6 -->
                            <div class="col-xs-12 col-sm-4">
                                <div class="service">
                                    <span class="service-icon">
                                    <i class="fa fa-user"></i>
                                    </span>
                                    <div class="service-details">
                                        <h4>Training/Consulting</h4>
                                        <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-xs-12 col-sm-4">
                                <div class="service">
                                    <span class="service-icon">
                                    <i class="fa fa-group"></i>
                                    </span>
                                    <div class="service-details">
                                        <h4>Partnership</h4>
                                        <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-sm-4 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </section>
                 <!-- /#our-services -->
