<section id="our-clients" class="pad-25">
                    <div class="container">
                        <div class="subpage-title">
                            <h5>Our Clients</h5>
                            <!-- Controls -->
                            <div class="controls">      
                                <span id="client-prev" class="prev"><i class="fa fa-angle-left"></i></span>                      
                                <span id="client-next" class="next"><i class="fa fa-angle-right"></i></span>
                            </div>
                        </div>
                        <div class="row flush">
                            <div id="caroufredsel-clients-container">
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/ajn.jpg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->         
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/alita.jpg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/anabatic.jpg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/bajau.jpeg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/bankmega.jpg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/bappenas.png" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/beacukai.jpg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/detik.jpeg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/euronet.jpeg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/gratika.jpg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/icon.jpeg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/interaneka.jpg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/intisoft.jpeg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/itcFinance.jpg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/jasindo.jpg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/lsn.jpg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/netwave.jpeg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/pertaminaEp.jpg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/pura.jpg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/rspj.jpg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/sigma.jpg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper -->  
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/sumsar.jpeg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper --> 
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/teleanjar.jpeg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper --> 
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/termos.jpeg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper --> 
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/visitek.jpg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper --> 
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/wahana.jpg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper --> 
                                <div class="col-xs-12 col-sm-4 col-md-3 client-wrapper">
                                    <a href="#"><img style="height:100px;margin:0 auto;" class="img-responsive" src="{{ root_url }}/images/logoKlien/wika.jpeg" alt="Client Image"></a>
                                </div>
                                <!-- /.client-wrapper --> 
                            </div>
                            <!-- /#caroufredsel-clients-container -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </section>
                <!-- /#our-clients -->    
