<!-- /#action-box -->
                <section id="blog-posts" class="pad-25">
                    <div class="container">
                        <div class="subpage-title">
                            <h5>Recent Posts</h5>
                            <!-- Controls -->
                            <div class="controls">                            
                                <span id="blog-posts-prev" class="prev"><i class="fa fa-angle-left"></i></span>
                                <span id="blog-posts-next" class="next"><i class="fa fa-angle-right"></i></span>
                            </div>
                        </div>
                        <div class="row flush">
                            <div id="caroufredsel-blog-posts-container">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <article class="post pad-0">
                                        <!-- /.post-thumb -->
                                        <div class="post-details">
                                            <h5 class="post-title"><a href="post-1.html">The Ultimate Guide to Adjustment Layers – Vibrance</a></h5>
                                            <span class="post-meta" ><i class="fa fa-time"></i> 10 July 2013, 20:43 PM</span>
                                            <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                                        </div>
                                        <!-- /.post-details -->
                                    </article>
                                    <!-- /.post -->
                                </div>
                                <!-- /.col-md-4 -->
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <article class="post pad-0">
                                        <!-- /.post-slider -->
                                        <div class="post-details">
                                            <h5 class="post-title"><a href="post-1.html">Complete Guide to What’s New in Adobe Photoshop 14.1</a></h5>
                                            <span class="post-meta" ><i class="fa fa-time"></i> 15 July 2013, 20:43 PM</span>
                                            <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                                        </div>
                                        <!-- /.post-details -->
                                    </article>
                                    <!-- /.post -->
                                </div>
                                <!-- /.col-md-4 -->
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <article class="post pad-0">
                                        <div class="post-details">
                                            <h5 class="post-title"><a href="post-1.html">The Ultimate Guide to Adjustment Layers – Vibrance</a></h5>
                                            <span class="post-meta" ><i class="fa fa-time"></i> 25 July 2013, 20:43 PM</span>
                                            <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                                        </div>
                                        <!-- /.post-details -->
                                    </article>
                                    <!-- /.post -->
                                </div>
                                <!-- /.col-md-4 -->
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <article class="post pad-0">
                                        <!-- /.responsive-video-wrapper -->
                                        <div class="post-details">
                                            <h5 class="post-title"><a href="post-1.html">How to Integrate Lightroom Into Your Photoshop Workflow</a></h5>
                                            <span class="post-meta" ><i class="fa fa-time"></i> 20 July 2013, 20:43 PM</span>
                                            <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                                        </div>
                                        <!-- /.post-details -->
                                    </article>
                                    <!-- /.post -->
                                </div>
                                <!-- /.col-md-4 -->
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <article class="post pad-0">
                                        <div class="post-details">
                                            <h5 class="post-title"><a href="post-1.html">Complete Guide to What’s New in Adobe Photoshop 14.1</a></h5>
                                            <span class="post-meta" ><i class="fa fa-time"></i> 30 July 2013, 20:43 PM</span>
                                            <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                                        </div>
                                        <!-- /.post-details -->
                                    </article>
                                    <!-- /.post -->
                                </div>
                                <!-- /.col-md-4 -->
                            </div>
                            <!-- /#caroufredsel-blog-posts-container -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </section>
                <!-- /#blog-posts -->
