<div id="index-1" class="main-wrapper">
                <section id="fullwidthbanner-container" class="fullwidthbanner-container">
                    <div class="fullwidthbanner">
                        <ul>
                            <!-- THE 1ST SLIDE -->
                            <li data-transition="random" data-slotamount="10" data-masterspeed="500">
								<img src="{{ root_url }}/assets/img/slides/slide (3).jpg" alt="Slide Image">
                                <div class="tp-caption very_large_black_text lft ltt"
                                     data-x="105"
                                     data-y="50"
                                     data-speed="900"
                                     data-start="1200"
                                     data-easing="easeOutExpo" style="font-size: 50px;">SMS Banking</div>
                                <div class="tp-caption theme_caption3 sfl stl"
                                     data-x="105"
                                     data-y="120"
                                     data-speed="900"
                                     data-start="1500"
                                     data-easing="easeOutExpo" style="font-family: 'Montserrat', sans-serif; color: #34495e;">
                                    <p>
                                        Sediakan interaksi melalui sms untuk nasabah Anda. <br>
                                        Dengan sms banking, nasabah dapat melakukan : <br>
                                    </p>
                                    <ul class="widget-list" style="border: 0px">
                                        <li>Cek Saldo</li>
                                        <li>Melihat Rekaman Transaksi</li>
                                        <li>Transfer Dana Antar Rekening</li>
                                        <li>Dan Kegiatan Lain Yang Dibutuhkan (Custom Action)</li>
                                    </ul>
                                </div>
                                <div class="caption lfr ltr"
                                    data-x="540"
                                    data-y="0"
                                    data-speed="1000"
                                    data-start="2000"
                                    data-easing="easeOutExpo"><img src="{{ root_url }}/images/slides_show/box.png" alt="Slide Image"></div>
                            </li>
                            <!-- THE 2ND SLIDE -->
                            <li data-transition="random" data-slotamount="10" data-masterspeed="500">
								<img src="{{ root_url }}/assets/img/slides/slide (3).jpg" alt="Slide Image">
                                <div class="tp-caption very_large_black_text sft stt"
                                    data-x="105"
                                    data-y="65"
                                    data-speed="500"
                                    data-start="1000"
                                    data-easing="easeOutExpo" style="font-size: 50px;">Training Java</div>
                                <div class="tp-caption theme_caption3 sfl stl"
                                    data-x="105"
                                    data-y="180"
                                    data-speed="500"
                                    data-start="1400"
                                    data-easing="easeOutExpo" style="font-family: 'Montserrat', sans-serif; color: #34495e;">
                                    Kami menyediakan layanan pelatihan java untuk anda yang ingin<br /> 
                                    mengembangkan skill untuk mengembangkan aplikasi menggunakan java.<br /> 
                                    Anda juga bisa memilih paket atau materi training sesuai dengan kebutuhan anda.
                                </div>
                                <div class="caption boxshadow lfr ltr"
                                    data-x="635" 
                                    data-y="70" 
                                    data-speed="1000"
                                    data-start="2000" 
                                    data-easing="easeOutBack"><img src="{{ root_url }}/images/slides_show/training-java.jpg" alt="Slide Image"></div>
                            </li>
                            <!-- THE 3RD SLIDE -->
                            <li data-transition="random" data-slotamount="10" data-masterspeed="500">
								<img src="{{ root_url }}/assets/img/slides/slide (3).jpg" alt="Slide Image">
                                <div class="tp-caption very_large_black_text sft stt"
                                    data-x="105"
                                    data-y="65"
                                    data-speed="500"
                                    data-start="1000"
                                    data-easing="easeOutExpo" style="font-size: 25px;">InfoTech Media Nusantara</div>
                                <div class="tp-caption theme_caption3 sfl stl"
                                    data-x="105"
                                    data-y="180"
                                    data-speed="500"
                                    data-start="1400"
                                    data-easing="easeOutExpo" style="font-family: 'Montserrat', sans-serif; color: #34495e;">
                                     ArtiVisi bekerja sama dengan PT. ITMN <br />
                                     dalam pengembangan aplikasi call center
                                </div>
                                <div class="caption lfr ltr"
                                    data-x="725"
                                    data-y="0"
                                    data-speed="1000"
                                    data-start="2000"
                                    data-easing="easeOutExpo"><img src="{{ root_url }}/images/slides_show/training-java2.jpg" alt="Slide Image"></div>
                            </li>
                        </ul>
                        <div class="tp-bannertimer tp-bottom"></div>
                    </div>
                    <!-- /.fullwidthbanner -->
                </section>
                <!-- /#fullwidthbanner-container -->
